.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:9px 20px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:9px 20px;word-break:normal;}
.tg .tg-cjtp{background-color:#ecf4ff;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-vlaw{background-color:#ecf4ff;color:#ecf4ff;text-align:left;vertical-align:top}
.tg .tg-smvl{background-color:#fd6864;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-og4q{background-color:#fd6864;text-align:left;vertical-align:top}
